@using Microsoft.AspNetCore.Http;
@model SistemaGerProjetos.Models.Cidade;

@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Cadastro de Cidades";
}


<p class="h3 mt-3">Cadastro de Cidades</p>

<div class="container">
    <form method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite o nome da cidade">
            @Html.ValidationMessage("nome")
        </div>
        <div class="form-group">
            <label for="nomeestado">Estado</label>
            <select name="nomeestado" class="form-control">
                <option disabled="disabled" selected="selected">Selecione um Estado</option>

                @if (ViewBag.NomeEstadoDB != null)
                {

                    @foreach (var NomeEstado in ViewBag.NomeEstadoDB)
                    {
                        <option value="@NomeEstado" selected>@NomeEstado</option>
                    }

                }

                @foreach (var estado in ViewBag.Estado)
                {
                    <option value="@estado.NomeEstado">@estado.NomeEstado</option>
                }

            </select>
            @Html.ValidationMessage("estado")
        </div>
        <div class="form-group">
            <label for="numeroHabitantes"></label>
            <input type="text" name="numeroHabitantes" value="@Model.NumeroHabitantes" class="form-control" id="numeroHabitantes" placeholder="Informe o número de habitantes">
            @Html.ValidationMessage("numeroHabitantes")
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
    @ViewBag.Mensagem
</div>
